test.py
test2.py
.gitignore
env

data/food_images/*
data/images/*
data/model_test_images/airship/*
data/model_test_images/anvil/*
data/non_food_images/*
data/test/food_images/*
data/test/non_food_images/*
data/train/food_images/*
data/train/non_food_images/*


ImageNet-Datasets-Downloader

food_not_food_model_v0
food_not_food_model_v2

food_not_food_model_v0.tflite
food_not_food_model_v2.tflite



