test.py
test2.py
.gitignore
env

data/food_images/*
data/images/*
data/model_test_images/*
data/model_test_images_split/*
data/non_food_images/*
data/test/*
data/train/*

ImageNet-Datasets-Downloader

food_not_food_model_v0
food_not_food_model_v2

food_not_food_model_v0.tflite
food_not_food_model_v2.tflite



